<div [ngClass]="{'auth-background': isAuthPage, 'default-background': !isAuthPage}">
  <ng-container *ngIf="!isAuthPage">
    <app-header></app-header>
    <div class="layout" [ngClass]="'k-drawer-' + drawerState">
      <app-sidebar (drawerStateChange)="onDrawerStateChange($event)"></app-sidebar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isAuthPage">
    <router-outlet></router-outlet>
  </ng-container>
</div>
